workflows/n8n/wa/proxy/wa-us-dynamic-ip.workflow.json
{
  "id": "wa-us-dynamic-ip",
  "name": "WA US Random Dynamic IP",
  "nodes": [
    {
      "parameters": {},
      "id": "wa-us-dynamic-ip-trigger",
      "name": "When Executed by WA Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst body = $json.body || $json || {};\nconst proxy = (body.proxy && typeof body.proxy === 'object') ? body.proxy : {};\nconst purpose = String(body.proxy_purpose || body.purpose || 'WA_REGISTRATION').trim();\nconst seed = `${$execution.id}-${Date.now()}-${Math.random().toString(16).slice(2)}`;\nconst proxyStateJSON = String(body.proxy_state_json || body.state_json || proxy.proxy_state_json || proxy.state_json || '').trim();\nconst proxyURL = String(body.proxy_url || proxy.proxy_url || '').trim();\nreturn [{ json: {\n  workspace_id: body.workspace_id || 'default',\n  job_id: body.job_id || $execution.id,\n  request_id: body.request_id || $execution.id,\n  purpose,\n  account_id: `wa-us-dyn-${seed}`.slice(0, 120),\n  selection_seed: seed,\n  provided_proxy: Boolean(proxyURL || proxyStateJSON),\n  proxy_url: proxyURL,\n  proxy_state_json: proxyStateJSON,\n} }];\n"
      },
      "id": "wa-us-dynamic-ip-normalize",
      "name": "Normalize Dynamic IP Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provided-dynamic-ip",
              "leftValue": "={{ $json.provided_proxy === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wa-us-dynamic-ip-provided",
      "name": "Provided Dynamic IP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction parseJSON(value) { try { return JSON.parse(String(value || '{}')); } catch { return {}; } }\nconst input = $('Normalize Dynamic IP Input').first().json;\nconst state = parseJSON(input.proxy_state_json);\nconst proxyURL = input.proxy_url || state._gopay_proxy || state.proxy_url || '';\nconst accountID = state._proxy_runtime_account_id || state.proxy_account_id || input.account_id || '';\nconst leaseID = state._proxy_runtime_lease_id || state.proxy_lease_id || '';\nreturn [{ json: {\n  success: Boolean(proxyURL || input.proxy_state_json),\n  accepted: Boolean(proxyURL || input.proxy_state_json),\n  proxy_mode: 'SHARED_DYNAMIC_IP',\n  country_code: state._gopay_country_code || state.country_code || '',\n  account_id: accountID,\n  lease_id: leaseID,\n  proxy_url: proxyURL,\n  proxy_state_json: input.proxy_state_json,\n} }];\n"
      },
      "id": "wa-us-dynamic-ip-use-provided",
      "name": "Use Provided Dynamic IP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROXY_RUNTIME_API_BASE_URL + '/leases/acquire' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { account_id: $('Normalize Dynamic IP Input').first().json.account_id, purpose: $('Normalize Dynamic IP Input').first().json.purpose, force_new: true, policy: { mode: 'PROXY_SESSION_MODE_STICKY', region: 'US', sticky_ttl: '600s', labels: { country_code: 'US', selection_seed: $('Normalize Dynamic IP Input').first().json.selection_seed, job_id: $('Normalize Dynamic IP Input').first().json.job_id } }, route_policy: { country_code: 'US', purpose: $('Normalize Dynamic IP Input').first().json.purpose, strategy: 'PROXY_SELECTOR_STRATEGY_HASH_TARGET_HOST', max_attempts: 3, allow_direct_dynamic_gateway: false, prefer_line_proxy: true } } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-us-dynamic-ip-acquire",
      "name": "Acquire US Dynamic IP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst input = $('Normalize Dynamic IP Input').first().json;\nconst response = $('Acquire US Dynamic IP').first().json || {};\nconst statusCode = response.statusCode || response.status || 200;\nconst body = response.body || response || {};\nif (statusCode < 200 || statusCode >= 300) {\n  return [{ json: { success: false, accepted: false, proxy_mode: 'US_RANDOM_DYNAMIC_IP', country_code: 'US', account_id: input.account_id, error_message: `proxy-runtime dynamic IP acquire returned HTTP ${statusCode}` } }];\n}\nconst lease = body.lease || {};\nconst egress = body.egress || lease.egress || {};\nfunction runtimeHost() {\n  const base = String($env.PROXY_RUNTIME_API_BASE_URL || '').trim();\n  try { return new URL(base).hostname || 'proxy-runtime'; } catch { return 'proxy-runtime'; }\n}\nfunction endpointScheme(endpoint) {\n  return String(endpoint.protocol || '').toUpperCase().includes('SOCKS5') ? 'socks5' : 'http';\n}\nfunction endpointHost(endpoint) {\n  const host = String(endpoint.host || '').trim();\n  if (!host || host === '0.0.0.0' || host === '127.0.0.1' || host === 'localhost' || host === '::' || host === '::1') return runtimeHost();\n  return host;\n}\nconst port = Number(egress.port || 0);\nif (!port) {\n  return [{ json: { success: false, accepted: false, proxy_mode: 'US_RANDOM_DYNAMIC_IP', country_code: 'US', account_id: lease.account_id || input.account_id, lease_id: lease.lease_id || '', error_message: 'proxy-runtime dynamic IP lease has no egress endpoint' } }];\n}\nconst scheme = endpointScheme(egress);\nconst host = endpointHost(egress);\nreturn [{ json: {\n  success: true,\n  accepted: true,\n  proxy_mode: 'US_RANDOM_DYNAMIC_IP',\n  country_code: 'US',\n  account_id: lease.account_id || input.account_id,\n  lease_id: lease.lease_id || '',\n  provider_account_id: lease.provider_account_id || '',\n  proxy_url: `${scheme}://${host}:${port}`,\n} }];\n"
      },
      "id": "wa-us-dynamic-ip-build",
      "name": "Build Dynamic IP Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        120
      ]
    }
  ],
  "connections": {
    "When Executed by WA Workflow": {
      "main": [
        [
          {
            "node": "Normalize Dynamic IP Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Dynamic IP Input": {
      "main": [
        [
          {
            "node": "Provided Dynamic IP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provided Dynamic IP?": {
      "main": [
        [
          {
            "node": "Use Provided Dynamic IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acquire US Dynamic IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire US Dynamic IP": {
      "main": [
        [
          {
            "node": "Build Dynamic IP Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [],
  "active": true
}
